.shoppingCart {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 10px;
  right: 10px;
}

.emptyCartText {
  margin-right: 21px;
  text-align: right;
}

.title_flavours_box {
  display: flex;
  justify-content: center;
}

.itemInCartImg {
  width: 12px;
  height: 70px;
}

.itemInCart {
  display: flex;
  align-items: center;
}

.itemInCartTitle {
  width: 40%;
  display: inline-block;
  margin-left: 10%;
}

.itemAmountBtn {
  margin-left: 3%;
  border-radius: 50%;
  width: 20px;
  background-color: rgb(192 198 203);
  text-align: center;
}
.itemAmountBtn :hover {
  opacity: 0.3;
}
.itemAmount {
  margin-left: 3%;
}

.itemTotalCost {
  width: 44%;
  white-space: nowrap;
}

.itemAmount:hover {
  opacity: 0.5;
}

.list-group {
  padding-inline-start: 0 !important;
}

.btn-secondary {
  margin: 3px;
}

.totalCartCost {
  float: right;
}

.cartFooter {
  padding-right: 10px;
  display: flex;
  align-items: center;
  width: 100%;
}
.totalCartCost {
  margin-left: 22%;
}

.modal-header .close {
  margin: 0 !important;
}

.modal-header {
  align-items: center !important;
  padding-right: 10px;
}

#exampleModalLongTitle {
  margin-right: 21px;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  border: none !important;
  padding: 20px;
  margin: 10px;
  display: inline-block;
  text-align: center;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  align-items: center;
  width: calc(30% - 10px);
  justify-content: space-between;
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
}

.card button {
  background-color: #dc3545;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  background-color: #ffc107;
}

.tags {
  justify-content: center;
  margin: 40px 20px 20px 20px;
  display: flex;
}

.tag {
  display: inline-block;
  background-color: #f2f2f2;
  color: #333;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.tag:hover {
  background-color: #e0e0e0;
}

#totalPaymentText {
  text-decoration: none;
  color: white;
}
